/* Inter font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* dancing script font */
.miama{
    font-family : Miama , sans-serif;
    font-style : italic 
}
/* Shared style */
body{
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}
* {
    margin: 0;
}

.home-btn{
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 8px 20px 8px 20px;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
    border: none;
}
.title{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
}
.text{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    text-align: center;
}
.pic-title{
    color: rgb(255, 255, 255);
    font-size: 1.12rem;
    font-weight: 600;
    line-height: 120%;
    text-align: left;
}
.padding-top{
    padding-top: 20px;
}
.padding-btm{
    padding-bottom: 90px;
}
/* Header */
/* Navbar */
.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgb(38, 39, 39);
}
.nav-title{
    color: rgb(230, 83, 60);
    font-size: 2.25rem;
    font-weight: 800;
}
.nav-items{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}
.nav-item{
    list-style: none;
    margin-right: 47px;
}
.nav-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 400;
}
.banner{
    background-color: rgb(38, 39, 39);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.brand-moto{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 7rem;
}
.banner-title{
    color: rgb(255, 255, 255);
    font-size: 2.8rem;
    font-weight: 900;
    text-align: left;
}
.shape{
    font-size: 2.8rem;
    text-align: left;
    font-weight: 400;
}    
.banner-description{
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    text-align: left;
    margin-top: 1rem;
}
.buttons{
    display: flex;
    margin-top: 28px;
    gap: 28px;
}
.join-btn{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px 16px 40px;
    color: rgb(255, 255, 255);
    font-size: 1.12rem;
    font-weight: 600;
    text-align: left;
    border: none;
    display: block;
}
.download-btn{
    border-radius: 42px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(15, 15, 15);
    padding: 16px 40px;
    color: rgb(255, 255, 255);
    font-size: 1.12rem;
    font-weight: 600;
    text-align: left;
}
.image-container{
    display: flex;
    flex-direction: column;
    height: 500px;
}
.img{
    height: 100%;
}
.cart-1{
    height: 90px;
    width: 190px;
    margin-top: -200px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-1-tag{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 900;
}
.cart-1-text{
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.8rem;
    font-weight: 400;
}
.cart-2{
    width: 190px;
    height: 90px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur;
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(230, 83, 60);
}
.cart-2-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.ham-burger{
    display: none;
}
/* main section-Habit */
.container{
    width: 100%;
    height: 100%;
    background-color: black;
}
.habit{
    /* margin */
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.title-cart{
    /* padding */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 90px;
}
.padding{
    padding-top: 10px;
}
.round-pic-cart{
    /* padding */
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* padding-bottom: 50px; */
}
.pic-cart{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-content{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid rgba(82, 79, 79, 0.5);
}
/* Run section */
.run{
    /* padding */
    width: 90%;
    margin: auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    
}
.run-text-cart{
    display: flex;
    flex-direction: column;
}
.run-text{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    text-align: left;
}
.btn-secondary{
    /* margin */
    border: none;
    border-radius: 42px;
    color: white;
    background: rgb(230, 83, 60); 
    width: 224px;
    height: 54px;
    margin-top: 20px;
}

.run-image{
    width: 30%;
    height: 30%;
    border-radius: 18px;
}
/* Bmi calculator */
.bmi{
    /* margin padding */
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 90px ;
    padding-bottom: 88px;
    padding-left: 180px;
    padding-right: 180px;
}
.bmi-cart{
    /* padding */
    width: 100%;
    margin: auto;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}
/* chart */
.bmi-btm-padding{
    padding-bottom: 50px;
}
.bmi-title{
    color: rgb(255, 255, 255);
    font-size: 1.45rem;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
}
.chart{
    display: flex;
    flex-direction: column;
    width: 290px;
}
.chart-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    
}
.child{
    border: 0.75px solid rgba(255, 255, 255, 0.1);
    width: 150px;
    height: 50px;
    
}
.upper-col{
    /* padding */
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 500;
    line-height: 120%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 60px;
}
.lower-col{
    /* padding */
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 120%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 60px;
}
/* calculator */
.calculator{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.calc-padding{
    padding-top: 20px;
    padding-bottom: 20px;
}
.calc-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
}
.calc-child{
    /* padding */
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
    height: 48px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3rem;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}
.span{
    grid-column: span 2;
}
/* meet our team part */
.meet-container{
    /* padding */
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 50px;
}
.meet-text{
    /* padding top bottom */
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: 0.3px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}
.team-pic-cart{
    /* padding */
    width: 1060px;
    height: 604px;
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    /* padding: 20px; */
    padding-top: 20px;
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.member-name{
    /* padding */
    color: white;
    font-size: 1rem;
    font-weight: 800;
    line-height: 0.5rem;
    text-align: left;
    padding-left: 30px;
    padding-bottom:22px;
}
.trainer{
    /* padding */
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    line-height: 0.5rem;
    text-align: left;
    padding-left: 30px;
    padding-bottom:20px;
}
.member-1{
    background-image: url(../images/trainer1.png);
}
.member-2{
    background-image: url(../images/trainer2.png);
}
.member-3{
    background-image: url(../images/trainer3.png);
}
.member-4{
    background-image: url(../images/trainer4.png);
}
.member-5{
    background-image: url(../images/trainer5.png);

}
.member-6{
    background-image: url(../images/trainer6.png);

}
.pic-cart-edit{
    border-radius: 18px;
    width: 326px;
    height: 272px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: left;
}

/* Responsive website */
@media screen and (max-width: 576px) {
    html, body{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    .nav-bar{
        margin: 0;
    }
    .nav-title{
        font-size: 1.75rem;
    }
    .nav-items{
        display: none;
    }
    .ham-burger{
        display: block;
        
    }
    .ham-burger i{
        font-size: 20px;

    }
    .nav-bar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 75px;
        width: 100%;
    }
    .banner{
        width: 100%;
    }
   
    .brand-moto{
        width: 252px;
        margin-top: 10px;
        margin-left: 0;
    }
    .banner-title{
        font-size: 2rem;
        line-height: 120%;
    }
    .banner-description{
        font-size: 0.75rem;
        line-height: 1.5rem;
    }
    .buttons{
        display: flex;
        margin-top: 28px;
        gap: 10px;
    }
    .join-btn{
        border-radius: 35px;
        padding: 14px 34px;
        font-size: 0.75rem;
        width: 100%;
        display: inline-block;   
    }
    
    .download-btn{
        border-radius: 35px;
        padding: 14px 34px;
        font-size: 0.75rem;
        width: 100%;
        display: inline-block;
    }
    .banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    .image-container{
        display: flex;
        flex-direction: column;
    }
    .cart-1{
        width: 100px;
        height: 70px;
        margin-bottom: -200px;
    }
    .cart-2{
        width: 100px;
        height: 70px;
    }
    .circle{
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background: rgb(230, 83, 60);
    }
    .cart-1-tag{
        font-size: 1rem;
        font-weight: 900;
    }
    .cart-1-text{
        color: rgba(255, 255, 255, 0.65);
        font-size: 0.5rem;
        font-weight: 400;
    }
    .image-container{
        width: 300px;
    }
    
    .img{
        width: 100%;
        height: 100%;
    }
    /* habit section */
    .title-cart{
        /* padding */
        
        padding-top: 5px;
    }
    .round-pic-cart{
        /* padding */
        padding-top: 50px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }
    
    /* run section */
    .run{
        width: 80%;
        margin:auto;
        padding: 25px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }
    .run-image{
        width: 287px;
        height: 170px;
        border-radius: 18px;
    }
    .btn-secondary{
        /* margin */
        margin-top: 10px;
    }
    .padding-top{
        padding-top: 10px;
    }
    .title{
        font-size: 2rem;
    }
    .run-text-cart p br{
        display: none;
    }
    /* BMI part */
    .bmi{
        /* margin padding */
        padding: 20px 0px 20px 0px;
    }
    .bmi-cart{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
    }
    .bmi-btm-padding{
        padding-bottom: 30px;
    }
    .bmi-title{
        font-size: 1rem;
    }
    .title{
        font-size: 1.8rem;
    }
    .chart{
        width: 250px;
        padding-left: 0px;
        padding-right: 25px;
    }
    .child{
        width: 120px;
        height: 50px;
    }
    .upper-col{
        line-height: 100%;
        padding-left: 20px;
    }
    .lower-col{
        /* padding */
        line-height: 100%;
        padding-left: 20px;
    }
    .chart-container{
        padding-bottom: 30px;
    }
    .calculator{
        width: 300px;
        padding-left: 25px;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    .calc-container{
        gap: 5px;
    }
    .calc-child{
        /* padding */
        width: 130px;
        height: 40px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.3rem;
        display: flex;
        justify-content: left;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
    }
    .span{
        width: 300px;
    }
    .span-2{
        width: 130px;
    }
    /* team-member */
    .team-pic-cart{
        width: 320px;
        height: 1188px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 10px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .pic-cart-edit{
        width: 313px;
        height: 272px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: left;
    }
    .member-1{
        display: none;
    }
    .member-4{
        display: none;
    }

}
    